<!DOCTYPE html>
<html lang="en">
	<head>
		<title>RPICDB</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">RPICDB</a>
			</nav>
		</header>
		<div class="container">
			<br>
			<div class="home">
				<p>Hey there! Do you want a discord bot that adds a bunch of useless features, like mute, warn, invite and more? Me too!</p>
				<a class="btn btn-primary" href="https://discord.com/api/oauth2/authorize?client_id=823590391302717510&permissions=8&scope=bot">Click to add the bot to your server!</a><br>
				<br>
				<h3>Full feature list:</h3>
				<ul>
					<li><kbd>$help</kbd> - get a list of these commands</li>
					<li><kbd>$warn [user] [reason]</kbd> - will send the user a warning, but essentially not do much</li>
					<li><kbd>$mute [user] [reason]</kbd> - mutes the specified user</li>
					<li><kbd>$invite [user]</kbd> - invite a user via DMs</li>
					<li><kbd>$reverse [text]</kbd> - reverse some text</li>
					<li><kbd>$inspire</kbd> - get an inspirational quote!</li>
					<li><kbd>$compliment [user]</kbd> - send a compliment to a user</li>
					<li><kbd>$clear [amount]</kbd> - clears the last [amount] messages</li>
					<li><kbd>$rickroll</kbd> - post a rickroll!</li>
					<li><kbd>$serverinfo</kbd> - get info about the server!</li>
				</ul>
			</div>
			<p>By the way RPICDB stands for Red Penguin Is Cool Discord Bot</p>
		</div>
	</body>
</html>